<%- include ('partials/_header') %>

<main>
    <div class="container-fluid d-flex align-items-center justify-content-center vh-100">
        <div class="row d-flex justify-content-center text-center">
            <div class="col-md-12 featurette text-white">
                    <!-- Heading -->
                    <h2 class="display-4 mb-2 featurette-heading">LABORATORIO 4</h2>
                    
                    <hr class="hr-light">
                    <!-- Descripcion -->
                    <h4 class="my-4 lead">Un Laboratorio Realizado en Conjunto a travez de Discord uwu.</h4>
            
                    <a href="crearproducto" class="btn btn-outline-light">Ver Laboratorio</a>
            </div>
        </div>
    </div>
</main>
<%- include ('partials/_footer') %>